my-header {
  text-align: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.justify-content-space-evenly {
  justify-content: space-evenly;
}

.align-items-center {
  align-items: center;
}

.max-width-stretch {
  width: 100%;
}

.width-fit-content {
  max-width: fit-content;
}
